#contact iframe {
    width: 100%;
}

.contact_1 h3 {
    display: inline;
}

.contact_1 a {
    text-shadow: none;
}

.contact_1 {
    margin-top: 100px;
}

input {
    background: grey
}

.Myplaces {
    border: 1px solid #c7c7c7;
    margin-bottom: 20px;
}

.Myplaces h5,
.Myplaces p {
    margin-left: 20px;
}

.movieHead {
    font-size: 20px;
    padding: 6px 20px;
    border-radius: 10px;
    margin-bottom: 15px;
    width: 100%;
    display: inline-block;
}

.movieHead i {
    float: right;
}

.mymovies {
    margin-bottom: 10px;
}

.Myplaces img {
    width: 70%;
}

.environment_li {
    margin-top: 13px;
}

.environment_li h4 {
    border-bottom: 1px solid white;
    padding: 8px;
}

.modal-content {
    margin-top: 100px;
}

.img_modal {
    display: inline-block;
}

.p_modal {
    margin-top: 10px;
}

.modal-body {
    text-align: center
}
